@{
    ViewData["Title"] = "Übersicht";
}
<div class="row no-gutters text-center">
    <div class="col-sm-1" style="background-color:red">
        <a asp-controller="Home" asp-action="Overview" class="btn btn-primary btn-block" role="button">Übersicht</a>
    </div>
    <div class="col-sm-1" style="background-color:brown">
        <a asp-controller="Home" asp-action="Overview" class="btn btn-primary btn-block" role="button">Generator</a>
    </div>
</div>
